<p>Cookies are small pieces of text sent by your web browser by a website you visit on to your computer or mobile device. Cookies are required to use the provided services and to enhance the user experience. Please also note that third parties may also use cookies, over which we have no control. These cookies are likely to be analytical/ performance, functionality or targeting cookies.</p>
