<p>We are committed to protecting your personal data and complying with relevant data protection legislation. Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it. By visiting powerpiper.com (Website) you are accepting and consenting to the practices described in this policy.</p>

<h3>What type of personal information do we collect about you?</h3>

<ul>
	<li>Information you give us. This is information about you that you give us by filling in forms on our Website or by corresponding with us by phone, e-mail or otherwise. This includes information you provide when you register to use our Website, add products or services to a shopping cart on our Website, place an order on our sites, subscribe to our services, participate in discussion boards or other social media functions on our sites, enter a competition, promotion or survey, contribute to our Token Sale and when you contact us on our Website report a problem with our site. The information you give us may include your name, address, e-mail address and phone number, web site Uniform Resource Locator (URL), financial information, personal description and photograph, crypto-wallets addresses and any other personal data provided to us.</li>
	<li>Information we collect about you. With regard to each of your visits to our Website we will automatically collect the following information:
	<ol start="a">
		<li>Technical information, including the Internet protocol (IP) address used to connect your computer to the Internet, your login information (if applicable), browser type and version, time zone setting, browser plug-in types and versions, operating system, and platform.</li>
		<li>Information about your visit, including the full Uniform Resource Locators (URL), clickstream to, through and from our site (including date and time), information you viewed or searched for, page response times, download errors, length of visits to certain pages, page interaction information (such as scrolling, clicks and mouse-overs).</li>
		<li>Information Collected by Cookies and information received from other sources. We and our service providers use various technologies to collect information when you interact with our Website, including cookies. Cookies are small pieces of text sent by your web browser by a website you visit.e Please note that third parties may also use cookies, over which we have no control. These cookies are likely to be analytical/performance, functionality or targeting cookies.</li>
	</ol>
	</li>
</ul>

<h3>How do we use your information?</h3>

<ul>
	<li>Information you give to us. We will use this information for the purposes of carrying out our obligations arising from any contracts entered into between you and us, and providing you with the information, products and services that you request from us; notifying you about changes to our service; ensuring that content from our Website is presented in the most effective manner for you and for your computer.</li>
	<li>Information we collect about you. We will use this information to administer our Website and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes; to improve our Website to ensure that content is presented in the most effective manner for you and for your computer; to allow you to participate in interactive features of our service, when you choose to do so; as part of our efforts to keep our site safe and secure.</li>
	<li>Information we receive from other sources. We will combine this information with information you give to us and information we collect about you. We will use this information and the combined information for the purposes set out above (depending on the types of information we receive).</li>
</ul>

<h3>How do we protect your information?</h3>

<p>You agree that we have the right to share your personal information with selected third parties including:</p>

<ul>
	<li>Analytics and search engine providers that assist us in the improvement and optimization of our site;</li>
	<li>E-commerce providers such as payment solution providers to assist us in the processing of your online purchases, donations and other payments.</li>
	<li>Fraud and crime prevention agencies for the purpose of assessing the risk of crime, fraud and money laundering and this is a condition of us entering into any contract with you.</li>
</ul>

<p>We will disclose your personal information to third parties:</p>

<ul>
	<li>If we are under a duty to disclose or share your personal data in order to comply with any legal obligation; or to protect the rights, property, or safety of the Company or others. This includes exchanging information with other companies and organisations for the purposes of fraud protection and credit risk reduction.</li>
	<li>In the event that we sell or buy any business or assets, in which case we will disclose your personal data to the prospective seller or buyer of such business or assets.</li>
	<li>If the Company or substantially all of its assets are acquired by a third party, in which case personal data held by it about its customers will be one of the transferred assets.</li>
	<li>In order to provide relevant information to regulators, government agencies and banks that may request information on the Token Sale.</li>
</ul>

<h3>Where we store personal data?</h3>

<p>The data that we collect from you may be transferred to, and stored at, a destination outside the European Economic Area (&rdquo;EEA&rdquo;). It may be processed by staff operating outside the EEA who work for us or for one of our suppliers. This includes staff engaged in, among other things, the fulfillment of your order, the processing of your payment details and the provision of support services. By submitting your personal data, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy.</p>

<p>Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our Website; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorized access.</p>

<h3>Your rights</h3>

<p>You have the right to ask us not to process your personal data for marketing purposes. We will usually inform you (before collecting your data) if we intend to use your data for such purposes or if we intend to disclose your information to any third party for such purposes. You can exercise your right to prevent such processing by checking certain boxes on the forms we use to collect your data. You can also exercise the right at any time by contacting us at info@powerpiper.com.</p>

<p>As part to our services, we may provide links to or compatibility with other websites or applications. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites.</p>

<h3>Changes to our Privacy Policy</h3>

<p>Our Privacy Policy may change from time to time. We will post any Privacy Policy changes on this page.</p>

<h3>Contact</h3>

<p>Questions, comments and requests regarding this privacy policy should be addressed to info@powerpiper.com.</p>
